{% if collection != blank %}
<div class="product-collection-carousel desktop-12 tablet-6 mobile-3">
  {% for product in collection.products limit: prod_limit %}
  <div class="product-car">
    <div id="product-listing-{{ product.id }}" class="item product-index" data-product-id="{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
      {% include 'product-listing' %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
{% include 'onboard-product' %}
{% endif %}
